/* ----------- 💫 wlogout horizontal 4-button hack 💫 -------- */
@import "../../.config/waybar/wallust/colors-waybar.css";

/* Root window */
window {
  font-size: 24pt;
  color: @foreground;
  background-color: rgba(30, 30, 46, 0.8);
  padding: 10px; /* reduce padding to fit buttons in one row */
}

/* Common button styling */
button {
  background-color: rgba(0, 0, 0, 0); /* transparent */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%; /* icon size */
  border-radius: 20px;
  border: 0;
  outline: none;
  margin: 2px; /* small spacing to fit in row */
  font-size: 1.2em; /* text inside button */
}

/* Hover effect */
button:hover {
  color: @color13;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Individual button icons */
#lock {
  background-image: url("./icons/lock.png");
}
#lock:hover {
  background-image: url("./icons/lock-hover.png");
}

#logout {
  background-image: url("./icons/logout.png");
}
#logout:hover {
  background-image: url("./icons/logout-hover.png");
}

#shutdown {
  background-image: url("./icons/power.png");
}
#shutdown:hover {
  background-image: url("./icons/power-hover.png");
}

#reboot {
  background-image: url("./icons/restart.png");
}
#reboot:hover {
  background-image: url("./icons/restart-hover.png");
}
